* {
    padding: 2px;
    margin: 0px auto;
    box-sizing: border-box;
    font-weight: normal;
}
html, body{
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
}
body {
    background: linear-gradient(180deg, rgb(40, 40, 150)0%,
                                        rgba(0, 0 , 0 ,1)75%,
                                        rgba(43, 43, 255, 1)500%);
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

 #game-board {
     width: inherit;
     display: grid;
     grid-template-rows: 1fr 4fr;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: 
        "local remote"
        "animation animation";
 }

 .local-player-tile {
     width: 100%;
     grid-area: local;
 }

 .remote-player-tile {
    width: 100%;
    grid-area: remote;
 }

 #battle-animation {
     width: 100%;
     grid-area: animation;
 }

 #button-container {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }

 @media (min-aspect-ratio: 5/3) {
    #game-board {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
            "local animation remote";
    }
 }
